version: 2.1

orbs:
  python: circleci/python@2.0.3
  codecov: codecov/codecov@3.2.2

jobs:
  test:
    docker:
      - image: "cimg/python:<<parameters.tag>>"
      - image: 'cimg/node:16.15'
      - image: 'circleci/redis:6'
      - image: 'cimg/postgres:14.2'
        environment:
          POSTGRES_DB: speckle2_test
          POSTGRES_PASSWORD: speckle
          POSTGRES_USER: speckle
      - image: "speckle/speckle-server"
        command: ["bash", "-c", "/wait && node bin/www"]
        environment:
          POSTGRES_URL: "localhost"
          POSTGRES_USER: "speckle"
          POSTGRES_PASSWORD: "speckle"
          POSTGRES_DB: "speckle2_test"
          REDIS_URL: "redis://localhost"
          SESSION_SECRET: "keyboard cat"
          STRATEGY_LOCAL: "true"
          CANONICAL_URL: "http://localhost:3000"
          WAIT_HOSTS: localhost:5432, localhost:6379
          DISABLE_FILE_UPLOADS: "true"
    parameters:
      tag:
        default: "3.8"
        type: string
    steps:
      - checkout
      - run: python --version
      - run:
          command: python -m pip install --upgrade pip
          name: upgrade pip
      - python/install-packages:
          pkg-manager: poetry
      - run: poetry run pytest --cov --cov-report xml:reports/coverage.xml --junitxml=reports/test-results.xml

      - store_test_results:
          path: reports

      - store_artifacts:
          path: reports

      - codecov/upload

  deploy:
    docker:
      - image: "cimg/python:3.8"
    steps:
      - checkout
      - run: python patch_version.py $CIRCLE_TAG
      - run: poetry build
      - run: poetry publish -u specklesystems -p $PYPI_PASSWORD

workflows:
  main:
    jobs:
      - test:
          matrix:
            parameters:
              tag: ["3.6", "3.7", "3.8", "3.9"]
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/ # For testing only! /ci\/.*/
